<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GForgeDocWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <GForgeDocWindow.Properties.Settings>
            <setting name="GForgeHost" serializeAs="String">
                <value />
            </setting>
            <setting name="GForgeUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentLocation" serializeAs="String">
                <value />
            </setting>
        </GForgeDocWindow.Properties.Settings>
    </userSettings>
</configuration>